@font-face {
  font-family: "norse-bold";
  src: url("./assets/Norse-Bold.otf") format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --pink: rgb(255, 120, 181);
}

body {
  display: flex;
  height: 100vh;
}

div.image-left {
  background-image: url("./assets/bg.jpg");
  width: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  div.banner-thing {
    background-color: rgb(0, 0, 0, 0.5);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;

    img {
      height: 80%;
    }

    span {
      font-family: "norse-bold", sans-serif;
      font-size: 84px;
      color: rgb(235, 235, 235);
      margin-left: 20px;
    }
  }

  div.credit-banner {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: rgb(235, 235, 235);
    }

    a {
      color: var(--pink);
    }
  }
}

form {
  width: 65%;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;

  p.form-blurb {
    padding: 60px 40px;
    font-size: 24px;
    font-weight: bold;
    max-width: 800px;
  }

  div.form-fields {
    background-color: white;
    box-shadow: 0px 5px 5px rgb(200, 200, 200);
    padding: 30px 40px;

    p {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      column-gap: 60px;
      row-gap: 20px;
      max-width: 800px;

      li {
        display: flex;
        flex-direction: column;

        label {
          font-size: 12px;
          letter-spacing: 1px;
        }

        input {
          border: 1px solid gray;
          border-radius: 3px;
          padding: 2px 6px;
        }

        input:focus {
          border: 1px solid blue;
          outline: 1px solid blue;
          box-shadow: 5px 5px 5px rgb(200, 200, 200);
        }
      }
    }
  }

  div.submit-login-group {
    padding: 30px 40px;

    button {
      background-color: var(--pink);
      width: 240px;
      height: 50px;
      border: 0;
      border-radius: 5px;
      margin-bottom: 30px;
    }

    button:hover {
      cursor: pointer;
    }

    a {
      display: inline-block;
      color: var(--pink);
      border-radius: 5px;
      padding: 2px 6px;
      text-decoration: none;
    }

    a:hover {
      color: rgb(242, 0, 255);
    }
  }
}
